@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.combination-chart {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &__header {
        align-self: flex-start;
        padding: 0 0 1rem 1rem;
    }

    &__row {
        display: flex;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $white;
        border-radius: 0.8rem;
        width: 33%;
        height: 4.625rem;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
            transition: 0.25s;
        }

        @include tablet {
            width: 5.5rem;
        }
    }

    &__japanese {
        font-size: 2rem;
    }
}