@use './styles/partials/mixins' as *;
@use './styles/partials/typography' as *;
@use './styles/partials/variables' as *;

* {
  background-color: $otenki-blue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: $white;
}

.app {
  max-width: 80rem;
  margin: auto;
  height: 100%;
}