@font-face {
    font-family: 'M Plus';
    src: url('../../assets/fonts/MPLUSRounded1c-Regular.ttf') format('opentype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'M Plus';
    src: url('../../assets/fonts/MPLUSRounded1c-Bold.ttf') format('opentype');
    font-style: normal;
    font-weight: 700;
}