$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$otenki-blue: #002952;
$otenki-dark-blue: #001F3D;

$green: #297E02;
$dark-green: #006400;

$paper: #FAF6E6;
$white: #FFFFFF;

$black: #000000;