@use '../../styles/partials/mixins' as *;

.hiragana {
    &__charts {
        display: flex;
        flex-direction: column;

        @include tablet {
            // justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include desktop {
            justify-content: center;
        }
    }
}